.animation{

    &-001{
	    animation: rotating 2s linear infinite;
    }

    &-002{
	    animation: 4s vibrate ease-in-out infinite;
    }
}



@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes vibrate {
    0% { transform: rotate(0); }
    4% { transform: rotate(8deg); }
    8% { transform: rotate(-8deg); }
    12% { transform: rotate(8deg); }
    16% { transform: rotate(-8deg); }
    20% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }